---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro';
import Hamburguer from './Hamburguer.astro'
---
<header>
    <nav>
        <Hamburguer />
         <ThemeIcon />
        <Navigation />
    </nav>
</header>